@charset "UTF-8";
:root {
  --green1: #aad576;
  --green2: #73a942;
  --green3: #538d22;
  --green4: #245501;
  --green5: #1a4301;
  --green6: #143601;
  --green7: #253526;
  --white1: #ffffff;
  --white2: #f5f5f5;
  --white3: #f8f9fa;
  --white4: #e9ecef;
  --black1: #000000;
  --black2: #333333;
  --black3: #212529;
  --black4: #282828;
  --black5: #1d1d1d;
  --black1rgba: rgba(0, 0, 0, 0.7);
  --black2rgba: rgba(0, 0, 0, 0.6);
  --black3rgba: rgba(0, 0, 0, 0.4);
  --black4rgba: rgba(0, 0, 0, 0.2);
  --grey1: #e0e0e0;
  --grey2: #b0b0b0;
  --grey3: #999999;
  --grey4: #666666;
  --grey1rgba: rgba(224, 224, 224, 0.8);
  --grey2rgba: rgba(176, 176, 176, 0.6);
  --grey3rgba: rgba(153, 153, 153, 0.4);
  --grey4rgba: rgba(102, 102, 102, 0.2);
  --yellow1: #ecb338;
  --yellow2: #f7c644;
  --yellow3: #cc9a2f;
  --yellow4: #b18629;
  --yellow5: #f3e95c;
  --yellow6: #d3ca50;
  --yellow7: #80611e;
  --brown1: #2d2418;
  --brown2: #3f3221;
  --brown3: #3e3226;
  --brown4: #4f4033;
  --brown5: #beac97;
  --red1: #f37979;
  --red2: #f25f5f;
  --red3: #f13c3c;
  --red4: #f11f1f;
  --purple1: #8e50b4;
  --purple2: #70348b;
  --purple3: #452352;
}
:root.light {
  --bg-header: var(--green7);
  --header-text: var(--white2);
  --header-text-hover: var(--yellow1);
  --header-text-active: var(--yellow2);
  --bg-footer-content: var(--brown4);
  --bg-footer-copyright: var(--brown1);
  --footer-text: var(--white1);
  --footer-link: var(--white1);
  --footer-link-hover: var(--brown5);
  --bg-video: var(--black1);
  --bg-video-rgb: var(--black1rgba);
  --video-text: var(--white3);
  --video-btn-bg: var(--green4);
  --video-btn-bg-hover: var(--green5);
  --video-btn-bg-active: var(--green6);
  --tips-section-bg: var(--brown1);
  --card-bg: var(--brown1);
  --card-bg-middle: var(--brown2);
  --card-color: var(--white1);
  --card-color-hover: var(--grey1);
  --landscape-section-bg: var(--white2);
  --landscape-section-text-hx: var(--green7);
  --landscape-section-text: var(--black1);
  --newsletter-section-bg: var(--black4);
  --newsletter-section-title: var(--yellow1);
  --newsletter-section-text: var(--white2);
  --newsletter-section-button: var(--yellow1);
  --newsletter-section-button-hover: var(--yellow3);
  --bg-plans: var(--black3);
  --bg-plans-back: var(--grey2);
  --plans-text: var(--white3);
  --plans-cover-bg: var(--black4rgba);
  --plans-cover-bg-hover: var(--black3rgba);
  --bg-schedule: var(--black1);
  --bg-schedule-rgb: var(--black1rgba);
  --schedule-title: var(--white1);
  --schedule-text: var(--white1);
  --table-color: var(--black5);
  --table-border: var(--green6);
  --table-th-bg: var(--yellow1);
  --table-th-text: var(--black5);
  --table-td-bg: var(--grey1);
  --gallery-bg: var(--white4);
  --gallery-info-bg: var(--black3);
  --gallery-info-bg-photo: var(--black1rgba);
  --gallery-title: var(--black3);
  --gallery-text: var(--black3);
  --gallery-video-bg: var(--black3);
  --gallery-video-text: var(--white3);
  --galley-video-bg: var(--black1);
  --gallery-video-text: var(--white1);
  --contact-bg: var(--black1rgba);
  --contact-color: var(--white1);
  --contact-button: var(--green4);
  --contact-button-hover: var(--green5);
  --contact-form-required: var(--white1);
  --outline-focus: var(--yellow3);
  --switch-theme: var(--yellow5);
  --switch-theme-hover: var(--yellow6);
}
:root.dark {
  --bg-header: var(--black1);
  --header-text: var(--white2);
  --header-text-hover: var(--yellow5);
  --header-text-active: var(--yellow6);
  --bg-footer-content: var(--black4);
  --bg-footer-copyright: var(--black5);
  --footer-text: var(--white1);
  --footer-link: var(--white1);
  --footer-link-hover: var(--grey1);
  --bg-video: var(--grey1);
  --bg-video-rgb: var(--black1rgba);
  --video-text: var(--white3);
  --video-btn-bg: var(--green4);
  --video-btn-bg-hover: var(--green5);
  --video-btn-bg-active: var(--green6);
  --tips-section-bg: var(--black5);
  --card-bg: var(--black5);
  --card-bg-middle: var(--black4);
  --card-color: var(--white1);
  --card-color-hover: var(--grey2);
  --landscape-section-bg: var(--black2);
  --landscape-section-text-hx: var(--green1);
  --landscape-section-text: var(--white1);
  --newsletter-section-bg: var(--black2);
  --newsletter-section-title: var(--yellow5);
  --newsletter-section-text: var(--white2);
  --newsletter-section-button: var(--yellow5);
  --newsletter-section-button-hover: var(--yellow6);
  --bg-plans: var(--black3);
  --bg-plans-back: var(--black4);
  --plans-text: var(--white3);
  --plans-cover-bg: var(--black2rgba);
  --plans-cover-bg-hover: var(--black1rgba);
  --bg-schedule: var(--black1);
  --bg-schedule-rgb: var(--black1rgba);
  --schedule-title: var(--white1);
  --schedule-text: var(--white1);
  --table-color: var(--black5);
  --table-border: var(--green6);
  --table-th-bg: var(--black2);
  --table-th-text: var(--white3);
  --table-td-bg: var(--grey1);
  --gallery-bg: var(--black2);
  --gallery-info-bg: var(--black2);
  --gallery-info-bg-photo: var(--black1rgba);
  --gallery-title: var(--white1);
  --gallery-text: var(--white3);
  --gallery-video-bg: var(--white3);
  --gallery-video-text: var(--black3);
  --gallery-video-bg: var(--black3);
  --gallery-video-text: var(--white3);
  --contact-bg: var(--black1rgba);
  --contact-color: var(--white1);
  --contact-button: var(--black2);
  --contact-button-hover: var(--black3);
  --contact-form-required: var(--white1);
  --outline-focus: var(--yellow6);
  --switch-theme: var(--yellow1);
  --switch-theme-hover: var(--yellow2);
}

/* 
    Document   : reset
    Created on : 04/10/2013, 11:55:06
    Author     : alfredo
    Description:
        Purpose of the stylesheet follows.
*/
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* No olvides definir estilos para focus */
:focus {
  outline: 0;
}

/* No olvides resaltar de alguna manera el texto insertado/borrado */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* En el código HTML es necesario añadir cellspacing="0" */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Nexa";
  src: url("/public/fonts/Nexa-Heavy.ttf");
}
body {
  background-color: var(--background);
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  font-family: "Nexa";
}

a:focus, button:focus, input:focus, select:focus, textarea:focus, [tabindex]:focus {
  outline: 3px solid var(--outline-focus);
}

#theme-switcher {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  background-color: var(--switch-theme);
  padding: 3px 10px;
  font-size: 2em;
  cursor: pointer;
}
#theme-switcher:hover {
  background-color: var(--switch-theme-hover);
}

#video-section #video-overlay #video-text {
  padding: 0 350px;
}
@media (min-width: 801px) and (max-width: 1252px) {
  #video-section #video-overlay #video-text {
    padding: 0 200px;
  }
}
@media (min-width: 577px) and (max-width: 800px) {
  #video-section #video-overlay #video-text {
    padding: 0 100px;
  }
}
@media (max-width: 576px) {
  #video-section #video-overlay #video-text {
    padding: 0 20px;
  }
}

#tips-section {
  width: 100%;
}
#tips-section #card-section {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 1151px) and (max-width: 1252px) {
  #tips-section #card-section {
    flex-direction: row;
  }
}
@media (min-width: 801px) and (max-width: 1150px) {
  #tips-section #card-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 800px) {
  #tips-section #card-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 576px) {
  #tips-section #card-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
#tips-section #card-section .card {
  padding: 35px 70px;
}

.landscape-section {
  display: flex;
  justify-content: space-between;
}
.landscape-section:nth-child(even) {
  flex-direction: row-reverse;
}
@media (min-width: 577px) and (max-width: 839px) {
  .landscape-section {
    flex-direction: column;
  }
  .landscape-section:nth-child(even) {
    flex-direction: column;
  }
  .landscape-section .paragraph-landscape-section {
    width: 100%;
  }
  .landscape-section .paragraph-landscape-section .text-landscape {
    padding: 50px 100px;
  }
}
@media (max-width: 576px) {
  .landscape-section {
    flex-direction: column;
  }
  .landscape-section:nth-child(even) {
    flex-direction: column;
  }
  .landscape-section .image-landscape {
    width: 100%;
  }
  .landscape-section .paragraph-landscape-section {
    width: 100%;
  }
  .landscape-section .paragraph-landscape-section .text-landscape {
    padding: 50px 20px;
  }
}

.newsletter-section .newsletter-overlay {
  width: 60%;
}
.newsletter-section .newsletter-overlay .form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter-section .newsletter-overlay .form .email-input {
  margin-right: 10px;
  padding: 20px;
}
@media (max-width: 576px) {
  .newsletter-section .newsletter-overlay .form {
    display: flex;
    flex-direction: column;
  }
  .newsletter-section .newsletter-overlay .form .email-input {
    width: 85%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .newsletter-section .newsletter-overlay .form .submit-button {
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 839px) {
  .newsletter-section .newsletter-overlay {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .newsletter-section .newsletter-overlay {
    width: 100%;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 25px 350px;
}
@media (min-width: 1281px) and (max-width: 1400px) {
  header {
    padding: 25px 150px;
  }
}
@media (min-width: 941px) and (max-width: 1280px) {
  header {
    padding: 25px 100px;
  }
}
@media (min-width: 577px) and (max-width: 940px) {
  header {
    padding: 25px 50px;
  }
}
@media (max-width: 576px) {
  header {
    padding: 25px 20px;
    grid-template-columns: 1fr;
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
footer .footer-content {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(1fr, auto);
  padding: 30px 350px;
  gap: 50px;
}
@media (min-width: 941px) and (max-width: 1400px) {
  footer {
    grid-template-columns: 2fr;
  }
  footer .footer-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 150px;
  }
  footer .footer-content #footer-info {
    grid-column: 1/3;
    grid-row: 1;
  }
  footer .footer-content #footer-contact {
    grid-column: 1/2;
    grid-row: 2;
  }
  footer .footer-content #footer-works {
    grid-column: 2/3;
    grid-row: 2;
  }
}
@media (min-width: 577px) and (max-width: 940px) {
  footer {
    grid-template-columns: 2fr;
  }
  footer .footer-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 50px;
  }
  footer .footer-content #footer-info {
    grid-column: 1/3;
    grid-row: 1;
  }
  footer .footer-content #footer-contact {
    grid-column: 1/2;
    grid-row: 2;
  }
  footer .footer-content #footer-works {
    grid-column: 2/3;
    grid-row: 2;
  }
}
@media (max-width: 576px) {
  footer {
    grid-template-columns: 1fr;
  }
  footer .footer-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 20px;
  }
  footer #footer-info {
    grid-column: 1/2;
    grid-row: 1;
  }
  footer #footer-contact {
    grid-column: 1/2;
    grid-row: 2;
  }
  footer #footer-works {
    grid-column: 1/2;
    grid-row: 3;
  }
}

#plans {
  padding: 5rem 0;
}
#plans .plans-info h2 {
  font-size: 5rem;
}
#plans .plans-info p {
  font-size: 1.3rem;
}
#plans .plans-card {
  width: 500px;
  height: 600px;
}
@media (min-width: 801px) and (max-width: 1252px) {
  #plans .plans-info h2 {
    font-size: 4rem;
  }
  #plans .plans-info p {
    font-size: 1.2rem;
  }
  #plans .container {
    display: flex;
    justify-content: space-between;
  }
  #plans .plans-card {
    width: 500px;
    height: 600px;
  }
}
@media (min-width: 577px) and (max-width: 800px) {
  #plans .plans-info h2 {
    font-size: 3rem;
  }
  #plans .plans-info p {
    font-size: 1.1rem;
  }
  #plans .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #plans .plans-card {
    width: 70%;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  #plans .plans-info h2 {
    font-size: 2.5rem;
  }
  #plans .plans-info p {
    font-size: 1rem;
  }
  #plans .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #plans .plans-card {
    width: 90%;
    margin-bottom: 20px;
  }
}

#schedule .container {
  width: 80%;
}
#schedule h2 {
  font-size: 5rem;
}
#schedule p {
  font-size: 1.3rem;
}
@media (min-width: 841px) and (max-width: 1252px) {
  #schedule .container {
    width: 90%;
  }
  #schedule h2 {
    font-size: 4rem;
  }
  #schedule p {
    font-size: 1.2rem;
  }
  #schedule table th, #schedule table td {
    padding: 0.2em;
  }
}
@media (min-width: 577px) and (max-width: 840px) {
  #schedule .container {
    width: 70%;
  }
  #schedule h2 {
    font-size: 3rem;
  }
  #schedule p {
    font-size: 1.1rem;
  }
  #schedule table thead {
    display: none;
  }
  #schedule table th, #schedule table td {
    display: block;
  }
  #schedule table td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}
@media (max-width: 576px) {
  #schedule .container {
    width: 70%;
  }
  #schedule h2 {
    font-size: 2.5rem;
  }
  #schedule p {
    font-size: 1rem;
  }
  #schedule table thead {
    display: none;
  }
  #schedule table th, #schedule table td {
    display: block;
  }
  #schedule table td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}

#gallery .container .row .photo {
  height: 50vh;
}
@media (max-width: 992px) {
  #gallery .container .row .photo .container .row .photo {
    height: 60vh;
  }
}
@media (max-width: 768px) {
  #gallery .container .row .photo .container .row .photo {
    height: 70vh;
  }
}
@media (max-width: 576px) {
  #gallery .container .row .photo .container .row .photo {
    height: 80vh;
  }
}

#trailer-video .container-video-plans {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: auto;
  padding: 2em 0;
  width: 70%;
}
#trailer-video .container-video-plans .video-info h2 {
  font-size: 3em;
}
#trailer-video .container-video-plans .video-info p {
  font-size: 1.3em;
}
#trailer-video .container-video-plans .video-files video {
  width: 100%;
  height: auto;
}
@media (min-width: 801px) and (max-width: 1252px) {
  #trailer-video .container-video-plans {
    flex-direction: column;
    width: 80%;
  }
  #trailer-video .container-video-plans .video-info, #trailer-video .container-video-plans .video-files {
    width: 100%;
  }
  #trailer-video .container-video-plans .video-info h2 {
    font-size: 2.5rem;
  }
  #trailer-video .container-video-plans .video-info p {
    font-size: 1.3rem;
  }
}
@media (min-width: 577px) and (max-width: 800px) {
  #trailer-video .container-video-plans {
    flex-direction: column;
    width: 80%;
  }
  #trailer-video .container-video-plans .video-info h2 {
    font-size: 2rem;
  }
  #trailer-video .container-video-plans .video-info p {
    font-size: 1.2rem;
  }
}
@media (max-width: 576px) {
  #trailer-video .container-video-plans {
    flex-direction: column;
    width: 80%;
  }
  #trailer-video .container-video-plans .video-info h2 {
    font-size: 2rem;
  }
  #trailer-video .container-video-plans .video-info p {
    font-size: 1.1rem;
  }
}

#contact-section {
  width: 100%;
}
#contact-section #container-form {
  width: 80%;
}
#contact-section #container-form .contact-info {
  width: 70%;
}
#contact-section #container-form .contact-form {
  width: 70%;
}
@media (min-width: 801px) and (max-width: 1252px) {
  #contact-section #container-form .contact-info {
    width: 75%;
  }
  #contact-section #container-form .contact-form {
    width: 75%;
  }
}
@media (min-width: 577px) and (max-width: 800px) {
  #contact-section #container-form .contact-info {
    width: 80%;
  }
  #contact-section #container-form .contact-form {
    width: 80%;
  }
}
@media (max-width: 576px) {
  #contact-section #container-form .contact-info {
    width: 100%;
  }
  #contact-section #container-form .contact-form {
    width: 100%;
  }
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-header);
  z-index: 1000;
}

#header-logo a {
  color: var(--header-text);
  text-decoration: none;
}
#header-logo a h1 {
  font-size: 2em;
}
#header-logo a h1 span {
  font-size: 0.8em;
}

#header-menu {
  position: relative;
}
#header-menu .desktop-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}
@media (max-width: 840px) {
  #header-menu .desktop-menu {
    display: none;
  }
}
#header-menu .desktop-menu li a {
  color: var(--white1);
  text-decoration: none;
  position: relative;
}
#header-menu .desktop-menu li a::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
#header-menu .desktop-menu li a:hover {
  color: var(--yellow1);
}
#header-menu .desktop-menu li a:hover::after {
  background-color: var(--yellow1);
}
#header-menu .desktop-menu li a.active {
  color: var(--yellow2);
}
#header-menu #menu-button {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--header-text);
}
@media (max-width: 840px) {
  #header-menu #menu-button {
    display: block;
  }
}

#mobile-menu-container {
  display: none;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: var(--bg-header);
  overflow: hidden;
}
#mobile-menu-container .mobile-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
#mobile-menu-container .mobile-menu li {
  margin-bottom: 30px;
}
#mobile-menu-container .mobile-menu li a {
  color: var(--white1);
  text-decoration: none;
  position: relative;
  text-align: center;
}
#mobile-menu-container .mobile-menu li a::after {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0%;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
#mobile-menu-container .mobile-menu li a:hover {
  color: var(--yellow1);
}
#mobile-menu-container .mobile-menu li a:hover::after {
  background-color: var(--yellow1);
}
#mobile-menu-container .mobile-menu li a.active {
  color: var(--yellow2);
}
#mobile-menu-container.open {
  display: block;
}

footer {
  color: var(--footer-text);
  line-height: 1.6;
}
footer .footer-content {
  background-color: var(--bg-footer-content);
}
footer .footer-content .footer {
  display: flex;
  flex-direction: column;
}
footer .footer-content h2 {
  font-size: 1.5em;
  padding: 10px 0;
  border-bottom: 1px solid var(--footer-text);
  margin-bottom: 20px;
}
footer .footer-content p, footer .footer-content a {
  color: var(--footer-link);
  margin-bottom: 10px;
}
footer .footer-content a {
  text-decoration: underline;
}
footer .footer-content a:hover {
  color: var(--footer-link-hover);
}
footer .footer-copyright {
  background-color: var(--bg-footer-copyright);
  text-align: center;
  color: var(--footer-link);
}
footer .footer-copyright p {
  padding: 20px 0;
}
footer .footer-copyright a {
  color: var(--footer-link);
  text-decoration: underline;
}
footer .footer-copyright a:hover {
  color: var(--footer-link-hover);
}

#video-section {
  position: relative;
  width: 100%;
  height: 60vh;
}
#video-section #background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#video-section #video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--bg-video-rgb);
  text-align: left;
}
#video-section #video-overlay #video-text {
  color: var(--video-text);
  text-align: left;
  line-height: 1.7;
}
#video-section #video-overlay #video-text h2 {
  font-size: 3em;
}
#video-section #video-overlay #video-text p {
  font-size: 1.5em;
  margin-bottom: 25px;
}
#video-section #video-overlay #video-text .cta-button {
  padding: 10px 20px;
  background-color: var(--video-btn-bg);
  color: var(--video-text);
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}
#video-section #video-overlay #video-text .cta-button:hover {
  background-color: var(--video-btn-bg-hover);
}
#video-section #video-overlay #video-text .cta-button:active {
  background-color: var(--video-btn-bg-active);
}

#tips-section {
  background-color: var(--tips-section-bg);
  border-top: 5px solid var(--card-bg-middle);
  border-bottom: 5px solid var(--card-bg-middle);
}
#tips-section #card-section {
  background-color: var(--tips-section-bg);
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  color: var(--card-color);
  text-align: center;
  line-height: 1.7;
}
.card.card-middle {
  background-color: var(--card-bg-middle);
}
.card .card-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.card .card-description {
  font-size: 0.9em;
  margin-bottom: 20px;
}
.card .card-link {
  color: inherit;
  text-decoration: underline;
}
.card .card-link:hover {
  color: var(--card-color-hover);
}

.landscape-section {
  background-color: var(--landscape-section-bg);
  color: var(--landscape-section-text);
}
.landscape-section .image-landscape {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landscape-section .paragraph-landscape-section {
  width: 50%;
}
.landscape-section .paragraph-landscape-section .text-landscape {
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
}
.landscape-section .paragraph-landscape-section .text-landscape h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--landscape-section-text-hx);
}
.landscape-section .paragraph-landscape-section .text-landscape h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--landscape-section-text-hx);
}
.landscape-section .paragraph-landscape-section .text-landscape p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--landscape-section-text);
  margin: 10px 0;
}
@media (max-width: 839px) {
  .landscape-section .image-landscape {
    width: 100%;
  }
  .landscape-section .paragraph-landscape-section {
    width: 100%;
  }
  .landscape-section .paragraph-landscape-section .text-landscape {
    padding: 50px 20px;
  }
  .landscape-section .paragraph-landscape-section .text-landscape h2 {
    font-size: 2rem;
  }
  .landscape-section .paragraph-landscape-section .text-landscape h3 {
    font-size: 1.2rem;
  }
  .landscape-section .paragraph-landscape-section .text-landscape p {
    font-size: 1rem;
  }
}

.newsletter-section {
  background-color: var(--newsletter-section-bg);
  padding: 100px 20px;
  text-align: center;
}
.newsletter-section .newsletter-overlay {
  margin: auto;
  width: 60%;
  line-height: 1.5;
}
.newsletter-section .newsletter-overlay .title {
  color: var(--newsletter-section-title);
  margin-bottom: 10px;
  font-size: 2.5rem;
}
.newsletter-section .newsletter-overlay .text {
  color: var(--newsletter-section-text);
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.newsletter-section .newsletter-overlay .form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.newsletter-section .newsletter-overlay .form .email-label {
  font-size: 1rem;
  margin-bottom: 10x;
  color: var(--newsletter-section-text);
}
.newsletter-section .newsletter-overlay .form .email-input {
  width: 100%;
  font-size: 1rem;
  flex: 0.75;
  margin-bottom: 10px;
}
.newsletter-section .newsletter-overlay .form .submit-button {
  background-color: var(--newsletter-section-button);
  border: none;
  padding: 22px 90px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
.newsletter-section .newsletter-overlay .form .submit-button:hover {
  background-color: var(--newsletter-section-button-hover);
}
.newsletter-section .newsletter-overlay .form .submit-button:active {
  transform: scale(0.95);
}

#plans {
  background-color: var(--bg-plans);
}
#plans .plans-info {
  padding-bottom: 50px;
  text-align: center;
  color: var(--plans-text);
}
#plans .plans-info h2 {
  margin-bottom: 20px;
}
#plans .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#plans .plans-card {
  position: relative;
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
  color: var(--plans-text);
  transition: transform 0.3s ease;
}
#plans .plans-card:hover {
  transform: scale(1.05);
}
#plans .plans-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#plans .plans-card .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--plans-cover-bg);
  cursor: pointer;
  transition: background 0.3s ease;
}
#plans .plans-card .cover h3 {
  font-size: 2.5em;
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: var(--plans-text);
  transition: bottom 0.3s ease;
}
#plans .plans-card .cover .price {
  font-size: 2em;
  position: absolute;
  top: 5%;
  right: 5%;
  color: var(--plans-text);
}
#plans .plans-card .cover .card-extension {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: var(--plans-text);
  transition: height 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
}
#plans .plans-card .cover .card-extension h4 {
  font-size: 1.75em;
  margin-bottom: 20px;
}
#plans .plans-card .cover .card-extension ul {
  list-style: none;
  padding: 0;
}
#plans .plans-card .cover .card-extension ul li {
  margin-bottom: 5px;
}
#plans .plans-card .cover .card-extension ul li:last-child {
  margin-bottom: 10px;
}
#plans .plans-card .cover .card-extension a {
  display: inline-block;
  padding: 10px 20px;
  border: 3px solid var(--card-color);
  color: var(--plans-text);
  text-decoration: none;
  margin-top: 10px;
  transition: background 0.3s ease;
}
#plans .plans-card .cover .card-extension a:hover {
  border: 3px solid var(--card-color-hover);
  color: var(--card-color-hover);
}
#plans .plans-card .cover .card-extension:hover {
  height: 30%;
}
#plans .plans-card .cover:hover, #plans .plans-card .cover:focus {
  background: var(--plans-cover-bg-hover);
}
#plans .plans-card .cover:hover h3, #plans .plans-card .cover:focus h3 {
  bottom: 35%;
}
#plans .plans-card .cover:hover .card-extension, #plans .plans-card .cover:focus .card-extension {
  height: 35%;
}

#schedule {
  position: relative;
  padding: 5em 0;
  background-color: var(--bg-schedule-rgb);
}
#schedule .schedule-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
#schedule .container {
  position: relative;
  height: 100%;
  margin: auto;
  text-align: center;
}
#schedule .container h2 {
  color: var(--schedule-title);
  margin-bottom: 20px;
}
#schedule .container p {
  color: var(--schedule-text);
  margin-bottom: 40px;
}
#schedule .container table {
  color: var(--table-color);
  width: 100%;
  border-collapse: collapse;
}
#schedule .container table caption {
  color: var(--schedule-title);
  font-size: 1.2rem;
  margin-bottom: 20px;
}
#schedule .container table th, #schedule .container table td {
  padding: 1em;
  border: 1px solid var(--table-border);
}
#schedule .container table #separator {
  background-color: var(--table-th-bg);
}
#schedule .container table th {
  background-color: var(--table-th-bg);
  color: var(--table-th-text);
}
#schedule .container table td {
  background-color: var(--table-td-bg);
}

#gallery {
  background-color: var(--gallery-bg);
  padding: 1em 0;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 1.4;
}
#gallery .gallery-info {
  width: 80%;
  margin: auto;
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
}
#gallery .gallery-info h2 {
  color: var(--gallery-title);
  font-size: 5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
#gallery .gallery-info p {
  color: var(--gallery-text);
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
@media (max-width: 992px) {
  #gallery .gallery-info h2 {
    font-size: 3.5rem;
    margin-bottom: 0.5em;
  }
  #gallery .gallery-info p {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 768px) {
  #gallery .gallery-info h2 {
    font-size: 3.5rem;
    margin-bottom: 0.5em;
  }
  #gallery .gallery-info p {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 576px) {
  #gallery .gallery-info h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
  }
  #gallery .gallery-info p {
    font-size: 1.3rem;
    margin-bottom: 0.5em;
  }
}
#gallery .container {
  width: 100%;
  margin: auto;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
#gallery .container .row {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
#gallery .container .row .photo {
  flex: 1;
  margin: 0.5em;
  overflow: hidden;
  box-sizing: border-box;
  color: var(--gallery-title);
}
#gallery .container .row .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#gallery .container .row .photo[data-size="3"] {
  flex: 1;
}
#gallery .container .row .photo[data-size="2"] {
  flex: 0 0 calc(50% - 1em);
}
#gallery .container .row .photo[data-size="1"] {
  flex: 0 0 100%;
}
@media (max-width: 992px) {
  #gallery .container .row {
    flex-direction: column;
  }
  #gallery .container .row .photo {
    height: 60vh;
  }
}
@media (max-width: 768px) {
  #gallery .container .row {
    flex-direction: column;
  }
  #gallery .container .row .photo {
    height: 70vh;
  }
}
@media (max-width: 576px) {
  #gallery .container .row {
    flex-direction: column;
  }
  #gallery .container .row .photo {
    height: 80vh;
  }
}

#trailer-video {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--gallery-video-bg);
  line-height: 1.4;
}
#trailer-video .container-video-plans .video-info {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  text-align: left;
}
#trailer-video .container-video-plans .video-info h2 {
  color: var(--gallery-video-text);
  font-weight: 700;
  margin-bottom: 0.5em;
}
#trailer-video .container-video-plans .video-info p {
  color: var(--gallery-video-text);
  font-weight: 400;
  margin-bottom: 0.5em;
}
#trailer-video .container-video-plans .video-files {
  width: 100%;
}

::cue {
  color: #333;
  background-color: #b0e498;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#contact-section {
  position: relative;
  color: var(--contact-color);
  margin: auto;
  background-color: var(--contact-bg);
  height: 100%;
}
#contact-section .schedule-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#contact-section #container-form {
  position: relative;
  margin: auto;
  padding: 2em;
  border-radius: 1em;
}
#contact-section #container-form .contact-info {
  margin: auto;
  margin-bottom: 2em;
}
#contact-section #container-form .contact-info h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
#contact-section #container-form .contact-info p {
  font-size: 1.3em;
  margin-bottom: 1.5em;
}
#contact-section #container-form .contact-form {
  margin: 0 auto;
}
#contact-section #container-form .contact-form legend {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}
#contact-section #container-form .contact-form .form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#contact-section #container-form .contact-form .form-row .form-group {
  flex: 1 0 45%;
}
#contact-section #container-form .contact-form .form-row .form-group label {
  font-size: 1em;
  display: block;
  margin: 0.75em 0;
}
#contact-section #container-form .contact-form .form-row .form-group .form-required {
  color: var(--contact-form-required);
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
#contact-section #container-form .contact-form .form-row .form-group:not(:last-child) {
  margin-right: 5%;
}
#contact-section #container-form .contact-form .form-group .form-required {
  color: var(--contact-form-required);
  font-size: 0.8em;
  margin-bottom: 0.5em;
}
@media (max-width: 800px) {
  #contact-section #container-form .contact-form .form-row {
    flex-direction: column;
  }
  #contact-section #container-form .contact-form .form-row .form-required {
    color: var(--contact-form-required);
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }
  #contact-section #container-form .contact-form .form-row .form-group {
    flex: 1 0 100%;
  }
  #contact-section #container-form .contact-form .form-row .form-group:not(:last-child) {
    margin-right: 0;
  }
}
#contact-section #container-form .contact-form .form-group {
  margin-bottom: 1em;
}
#contact-section #container-form .contact-form .form-group label {
  font-size: 1em;
  display: block;
  margin: 0.25em 0;
}
#contact-section #container-form .contact-form .form-group input, #contact-section #container-form .contact-form .form-group textarea, #contact-section #container-form .contact-form .form-group select, #contact-section #container-form .contact-form .form-group button {
  width: 100%;
  height: 4em;
  padding: 1.2em;
  border: 1px solid var(--grey2);
  box-sizing: border-box;
  font-family: "Nexa";
  font-size: 0.8em;
}
#contact-section #container-form .contact-form .form-group textarea {
  height: auto;
}
#contact-section #container-form .contact-form .form-group button {
  background-color: var(--contact-button);
  color: var(--contact-color);
  padding: 0.5em 1.5em;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2em;
}
#contact-section #container-form .contact-form .form-group button:hover {
  background-color: var(--contact-button-hover);
}
#contact-section #container-form .contact-form .form-group input[type=checkbox] {
  width: auto;
  height: auto;
  margin: 0 0.5em 0 0;
}/*# sourceMappingURL=main.css.map */