.card {
    background-color: var(--card-bg);
    border: 1px solid var(--card-border);
    color: var(--card-color);
    text-align: center;
    line-height: 1.7;

    &.card-middle {
        background-color: var(--card-bg-middle);
    }

    .card-title {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .card-description {
        font-size: 0.9em;
        margin-bottom: 20px;
    }

    .card-link {
        color: inherit;
        text-decoration: underline;

        &:hover {
            color: var(--card-color-hover);
        }
    }
}